<!DOCTYPE html>
<html>
<head>
    <title>Last Minute Trips</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h1>Last Minute Trips</h1>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li><a href="/trips">Home</a></li>
                <li><a href="/subscribe">Subscribe</a></li>
                <li><a href="/price-changes">Price Changes</a></li>
                <li><a href="/charters">Charters</a></li>
                <li><a href="/charter-changes">Charter Changes</a></li>
                <li><a href="/empty-trips">Empty Trips</a></li>
                <li><a href="/empty-charters">Empty Charters</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <table>
        <thead>
        <tr>
            <th><a href="{{ url_for('trips', sort_by='title', sort_order='ASC' if sort_by == 'title' and sort_order == 'DESC' else 'DESC') }}">Hotel Name</a></th>
            <th><a href="{{ url_for('trips', sort_by='location', sort_order='ASC' if sort_by == 'location' and sort_order == 'DESC' else 'DESC') }}">Type + Location</a></th>
            <th><a href="{{ url_for('trips', sort_by='days', sort_order='ASC' if sort_by == 'days' and sort_order == 'DESC' else 'DESC') }}">Date + Length</a></th>
            <th><a href="{{ url_for('trips', sort_by='price', sort_order='ASC' if sort_by == 'price' and sort_order == 'DESC' else 'DESC') }}">Price</a></th>
            <th><a href="{{ url_for('trips', sort_by='last_price', sort_order='ASC' if sort_by == 'last_price' and sort_order == 'DESC' else 'DESC') }}">Last Price</a></th>
            <th><a href="{{ url_for('trips', sort_by='departure_location', sort_order='ASC' if sort_by == 'departure_location' and sort_order == 'DESC' else 'DESC') }}">Departure Location</a></th>
            <th><a href="{{ url_for('trips', sort_by='food', sort_order='ASC' if sort_by == 'food' and sort_order == 'DESC' else 'DESC') }}">Food</a></th>
            <th><a href="{{ url_for('trips', sort_by='persons', sort_order='ASC' if sort_by == 'persons' and sort_order == 'DESC' else 'DESC') }}">Persons</a></th>
            <th><a href="{{ url_for('trips', sort_by='review_score', sort_order='ASC' if sort_by == 'review_score' and sort_order == 'DESC' else 'DESC') }}">Review Score</a></th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td><a href="{{ trip[11] }}" target="_blank">{{ trip[1] }}</a></td>
                <td>{{ trip[2] }}</td>
                <td>{{ trip[3] }}</td>
                <td style="color: {% if trip[4] < trip[5] %}green{% elif trip[4] > trip[5] %}red{% endif %}; font-weight: {% if trip[4] != trip[5] %}bold{% endif %}">{{ trip[4] }}</td>
                <td>{{ trip[5] }}</td>
                <td>{{ trip[6] }}</td>
                <td>{{ trip[7] }}</td>
                <td>{{ trip[8] }}</td>
                <td>{{ trip[9] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>
</html>
